.venv/
__pycache__/
*.pyc
.pytest_cache/
.streamlit/
*.pt
*.pth
*.keras
*.h5
.DS_Store
.env
data/raw/**
!data/raw/.gitkeep
data/trashnet_repo/
models/*.pt
models/*.json
!models/README.md
sample_images/*.png
sample_images/*.jpg
!sample_images/README.md
